{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage", // or "entry"
            "corejs": 3
        }],
        ["@babel/preset-react", {
            "runtime" : "automatic"
        }]
    ],
    "plugins" : [
        "@babel/plugin-proposal-export-default-from"
    ]
}