{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage", // or "entry"
            "corejs": 3
        }],
        "@babel/preset-react"
    ],
    "plugins" : [
        "react-hot-loader/babel",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-export-default-from"
    ]
}