{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage", // or "entry"
            "corejs": 3
        }],
        ["@babel/preset-react", {
            "runtime" : "automatic"
        }]
    ],
    "plugins" : [
        "@babel/plugin-proposal-export-default-from",
        ["@emotion",
      {
        "importMap": {
          "@mui/system": {
            "styled": {
              "canonicalImport": ["@emotion/styled", "default"],
              "styledBaseImport": ["@mui/system", "styled"]
            }
          },
          "@mui/material/styles": {
            "styled": {
              "canonicalImport": ["@emotion/styled", "default"],
              "styledBaseImport": ["@mui/material/styles", "styled"]
            }
          }
        }
      }]
    ]
}